@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&display=swap');

* {
    margin: 0;
}

/* IDs */


 /* Classes */

 .logo { 
    display: flex;
    justify-content: center;
    align-items: center;
 }

.heading {
    font-size: 1.2em;
    margin-left: 10px;
    word-spacing: 10px;
    letter-spacing: 5px;
    font-family: BBH Bartle;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 1em 0 0 1em;
}

.nav-bar ul {
    display: flex;
}

.nav-list a {
    display: flex;
    text-decoration: none;
    color: blue;
    font-weight: bold;
    font-size: 20px;
}

.nav-list  li {
    display: flex;
    list-style: none;
    margin: 0 1em;
    padding: 0;
}
 
.home-section {
    margin: 2em 0;
    padding:  3em 3em;
    font-size: x-large;
    line-height: 1.5em;
    text-align: just;
}

.landing-page {
    position: relative;
    height: 100vh;
}

.landing-page::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(images/foodbackground4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.3;
    z-index: -1;
}

.third-paragraph {
    font-size: 2em;
    font-weight: bold;
    margin: 2em 1em;
}


.amala , .eba , .fufu{
    width: 30%;
    height: 500px;
    margin: 1em;
    border-radius: 15em;
    object-fit: fill;
}

.efo , .yam , .spaghetti {
    width: 30%;
    height: 500px;
    margin: 1em;
    border-radius: 15em;
}

.jollofrice , .friedrice , .coconutrice {
    width: 30%;
    height: 500px;
    margin: 1em;
    border-radius: 15em;
}

 /* Generics */

a:hover {
    color: black;
    transition: 1s;
     cursor: pointer;
}


/* Animation */

@keyframes  downarrow {
    0% {
        transform: translateY(-10px);
    } 
    
    50% {
        transform: translateY(10px);
        transition: transform 2s ease-in-out 0s ;
    }

    100% {
        transform: translateY(-10px);
    } 
    
}


.downarrow {
    width: 100px;
    height: 60px;
    position: absolute;
    left: 45%;
    animation: downarrow 1.5s ease-in-out 0.5s infinite normal;
}





