* {
    margin: 0;
}

/* IDs */



 /* Classes */

 .logo {
    display: flex;
    justify-content: center;
    align-items: center;
 }

.heading {
    font-size: 2em;
    margin-left: 10px;
    word-spacing: 10px;
    letter-spacing: normal;
    
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 1em 0 0 1em;
}

.nav-bar ul {
    display: flex;
}

.nav-list a {
    display: flex;
    text-decoration: none;
    color: blue;
    font-weight: bold;
    font-size: 20px;
}

.nav-list  li {
    display: flex;
    list-style: none;
    margin: 0 1em;
    padding: 0;
}
 
.home-section {
    margin: 2em 0;
    padding:  3em 1em;
    font-size: x-large;

}

.landing-page {
    height: 100vh;
    background-image: url(images/foodbackground.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.second-paragraph {
    font-size: 2em;
    margin: 2em 1em;
}


.amala , .eba , .fufu{
    width: 30%;
    height: 500px;
    margin: 1em;
    border-radius: 15em;
    object-fit: fill;
}

.efo , .yam , .spaghetti {
    width: 30%;
    height: 500px;
    margin: 1em;
    border-radius: 15em;
}

.jollofrice , .friedrice , .coconutrice {
    width: 30%;
    height: 500px;
    margin: 1em;
    border-radius: 15em;
}


 /* Generics */

a:hover {
    color: black;
    transition: 1s;
}

