/* IDs */



 /* Classes */

 .logo {
    display: flex;
    justify-content: center;
    align-items: center;
 }
.heading {
    font-size: 2em;
    margin-left: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.nav-bar ul {
    display: flex;
}

.nav-list a {
    display: flex;
    text-decoration: none;
    color: blue;
}

.nav-list  li {
    display: flex;
    list-style: none;
    margin: 0 1em;
    padding: 0;
}


 /* Generics */

a:hover {
    color: black;
    transition: 1s;
}

