* {
    margin: 0;
}

/* IDs */



 /* Classes */

 .logo {
    display: flex;
    justify-content: center;
    align-items: center;
 }
.heading {
    font-size: 2em;
    margin-left: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 1em 0 0 1em;
}

.nav-bar ul {
    display: flex;
}

.nav-list a {
    display: flex;
    text-decoration: none;
    color: blue;
}

.nav-list  li {
    display: flex;
    list-style: none;
    margin: 0 1em;
    padding: 0;
}
 
.home-section {
    margin: 2em 0;
    padding:  3em 1em;
    font-size: x-large;

}

.landing-page {
    height: 100vh;
}

.second-paragraph {
    font-size: 2em;
    margin: 2em 1em;
}

 /* Generics */

a:hover {
    color: black;
    transition: 1s;
}

img {
    width: 30%;
}