@import url("https://fonts.googleapis.com/css2?family=BBH+Bartle&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

/* IDs */

/* Classes */

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  font-size: 1.2em;
  margin-left: 10px;
  word-spacing: 10px;
  letter-spacing: 5px;
  font-family: BBH Bartle;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0 0 1em;
}

.nav-bar ul {
  display: flex;
}

.nav-list a {
  display: flex;
  text-decoration: none;
  color: blue;
  font-weight: bold;
  font-size: 20px;
}

.nav-list li {
  display: flex;
  list-style: none;
  margin: 0 1em;
  padding: 0;
}

.home-section {
  margin: 3em 0;
  padding: 3em 3em;
  font-size: x-large;
  line-height: 1.5em;
}

.contact-section {
  margin: 2em 0;
}

.conclusion-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em 0;
  line-height: 3em;
}

.landing-page {
  position: relative;
  height: 100vh;
  min-height: 100vh;
}

.landing-page::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(images/foodbackground4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.3;
  z-index: -1;
}

.third-paragraph {
  font-size: 2em;
  font-weight: bold;
  margin: 2em 1em;
}

.amala,
.eba,
.fufu {
  width: 30%;
  height: 500px;
  margin: 1em;
  border-radius: 15em;
  object-fit: fill;
}

.efo,
.yam,
.spaghetti {
  width: 30%;
  height: 500px;
  margin: 1em;
  border-radius: 15em;
}

.jollofrice,
.friedrice,
.coconutrice {
  width: 30%;
  height: 500px;
  margin: 1em;
  border-radius: 15em;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-btn {
  background-color: blue;
  font-size: 15px;
  border: none;
  letter-spacing: 5px;
}

.submit-btn:hover {
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 10px;
  border: none;
  color: blueviolet;
  background: #020024;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  cursor: pointer;
  transition: 1s;
}

/* Generics */

a:hover {
  color: black;
  transition: 1s;
  cursor: pointer;
  text-decoration: overline;
  text-decoration-color: blueviolet;
  transform: translateY(-5px);
  transition: 1s;
}

input {
  display: block;
  margin-top: 2em;
  padding: 1em;
  border-radius: 2em;
  width: 50%;
  border: 2px solid grey;
}

input:hover {
  border: 2px solid gold;
}

input::placeholder {
  color: rgba(231, 205, 32, 0.84);
}

textarea {
  margin-top: 2em;
  width: 60%;
}

textarea:hover {
  border: 2px solid gold;
}

textarea::placeholder {
  color: rgba(231, 205, 32, 0.84);
}

/* Animation */

@keyframes downarrow {
  0% {
    transform: translateY(-5px);
  }

  50% {
    transform: translateY(5px);
    transition: transform 2s ease-in-out 0s;
  }

  100% {
    transform: translateY(-5px);
  }
}

.downarrow {
  width: 100px;
  height: 60px;
  position: absolute;
  left: 45%;
  animation: downarrow 1.5s ease-in-out 0.5s infinite normal;
}

/* Media Queries */

@media screen and (max-width: 480px) {
  .landing-page::before {
    background-image: url(images/foodbackground4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.3;
    z-index: -1;
  }

  .heading {
    font-size: 13px;
    margin-left: 1em;
    word-spacing: 1em;
    letter-spacing: 3px;
  }

  .nav-list a {
    display: flex;
    text-decoration: none;
    color: blue;
    font-weight: bold;
    font-size: 16px;
  }

  .nav-list li {
    display: flex;
    list-style: none;
    margin: 1.5em 10px;
    padding: 0;
  }

  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 2em;
  }

  .home-section {
    margin: 1em 0;
    padding: 0 1em;
    font-size: 16px;
    line-height: 1.5em;
    place-items: center;
  }

  .second-paragraph {
    margin-top: 2em;
  }

  .downarrow {
    width: 50px;
    height: 20px;
    position: absolute;
    left: 45%;
    top: 93%;
  }

  .third-paragraph {
    font-size: 20px;
    font-weight: bold;
    margin: 2em 1em;
  }

  .amala,
  .eba,
  .fufu,
  .efo,
  .yam,
  .spaghetti,
  .jollofrice,
  .friedrice,
  .coconutrice {
    width: 70%;
    height: 100%;
    margin: 1em;
    border-radius: 2em;
  }

  .container {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2em;
  }

  .submit-btn {
    background: #020024;
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(9, 9, 121, 1) 35%,
      rgba(0, 212, 255, 1) 100%
    );
    font-size: 16px;
  }

  .contact-section {
    margin: 4em 0;
    place-content: center;
  }

  .conclusion-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em 2em;
    line-height: 3em;
  }

  input {
    display: block;
    margin-top: 2em;
    padding: 1em;
    border-radius: 2em;
    width: 70%;
    border: 2px solid grey;
  }

  textarea {
    margin-top: 3em;
    width: 80%;
  }
}
